@model WebAppReport03.Models.TblSrtTugas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TblSrtTugas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.No_Surat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.No_Surat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dasar_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dasar_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dasar_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dasar_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pangkat_Gol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pangkat_Gol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jabatan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jabatan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kegiatan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kegiatan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hari_Tanggal_Keg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hari_Tanggal_Keg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempat_Keg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempat_Keg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Waktu_Keg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Waktu_Keg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempat_ttd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempat_ttd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tanggal_ttd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tanggal_ttd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jabatan_ttd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jabatan_ttd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Penandatangan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Penandatangan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSrtTgs">Edit</a> |
    <a asp-action="Print" asp-route-id="@Model.IdSrtTgs">Print</a> |
    <a asp-action="Index">Back to List</a>
</div>
