@model IEnumerable<WebAppReport03.Models.TblSrtTugas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.No_Surat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kegiatan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hari_Tanggal_Keg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tempat_Keg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Waktu_Keg)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.No_Surat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kegiatan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hari_Tanggal_Keg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tempat_Keg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Waktu_Keg)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSrtTgs">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSrtTgs">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSrtTgs">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
